<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style-login.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="login-container" class="d-flex">
        <div id="hero-login">
            <img id="hero-image-login" src="/media/hero-login.png" alt="">
        </div>  
        <div id="login-form" class="">
                <img src="media/logo.png" alt="" class="py-4">
                <h3 class="font-weight-bold py-4">Welcome, Admin BCR</h3>
                <form class="" method="post">
                  <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" class="form-control" id="username" placeholder="Contoh: johndee@gmail.com">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="6+ karakter">
                  </div>
                </form>
                  <button id="btn-signin" class="btn btn-primary btn-block mt-4" type="submit">Sign In</button>
        </div>
    </div>
    

</body>
</html>