<div id="content" > 
    <div class="path pl-2 pt-2">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </div>
    <div class="title-content pl-4 pb-2">
        <h5>Dashboard</h5>
    </div>
    <div class="tag-table pl-4 py-2x">
        <h6><img src="/media/Rectangle 9.png" class="pr-2" alt="">List Order</h6>
    </div>
    
    <div class="table-order">
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">No</th>
                <th scope="col">User Email</th>
                <th scope="col">Car</th>
                <th scope="col">Start Rent</th>
                <th scope="col">Finsih Rent</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>2</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>3</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>4</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>5</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>6</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>7</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>8</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>9</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>10</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="table-order-pagination px-4 mb-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item disabled">
                <a class="page-link""><i class="fa-solid fa-angles-left"></i></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">..</a></li>
              <li class="page-item"><a class="page-link" href="#">9</a></li>
              <li class="page-item">
                <a class="page-link" href="#"><i class="fa-solid fa-angles-right"></i></a>
              </li>
            </ul>
        </nav>
    </div>

    <div class="tag-table pl-4 py-2x">
        <h6><img src="/media/Rectangle 9.png" class="pr-2" alt="">List Car</h6>
    </div>

    <div class="table-car">
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">No</th>
                <th scope="col">User Email</th>
                <th scope="col">Car</th>
                <th scope="col">Start Rent</th>
                <th scope="col">Finsih Rent</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>2</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>3</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>4</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>5</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>6</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>7</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>8</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>9</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
              <tr>
                <td>10</td>
                <td>User Email</td>
                <td>Car</td>
                <td>Start Rent</td>
                <td>Finish Rent</td>
                <td>Price</td>
                <td>Status</td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="table-car-pagination px-4 mb-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item disabled">
                <a class="page-link""><i class="fa-solid fa-angles-left"></i></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">..</a></li>
              <li class="page-item"><a class="page-link" href="#">9</a></li>
              <li class="page-item">
                <a class="page-link" href="#"><i class="fa-solid fa-angles-right"></i></a>
              </li>
            </ul>
        </nav>
    </div>

</div>