<h1>HomePage</h1>
<h3>URL LIST</h3>
<table class="table">
    <thead class="thead">
      <tr>
        <th scope="col">Halaman</th>
        <th scope="col">URL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Dashboard</td>
        <td><a href="http://localhost:1500/dashboard">http://localhost:1500/dashboard</a></td>
      </tr>

    </tbody>
</table>