.addcar-form{
    width: 97%;
    max-height: 100vh;
    margin: 24px;   
    label{
        padding-right: 10%;
    }
    form{
        background-color: white;
    }
    .btn{
        height: 36px;
        position: absolute;
        bottom: 3vh;
    }
    .btn-save{
        background-color: #0D28A6;
        color: white;
        border-color: #0D28A6;
        margin-left: 12px;
        left: 22vh;
    }
    .btn-cancel{
        background-color: transpwhiarent;
        color: #0D28A6;
        border-color: #0D28A6;
        left: 12vh;
    }
}