.content{
    .title-content{
       
        h5{
            font-weight: bold;
        }    
        .btn{
            position: relative;
            left: 82.5%;
            background-color: #0D28A6;
        }    
    }
    .car-category{
        padding-left: 25px;    
        .btn{
            background-color: transparent;
            color: #AEB7E1;
            border-color: #AEB7E1;;
        } 
        .btn:active{
            color: #0D28A6;
            background-color: #AEB7E1;
            border-color: #0D28A6;
            box-shadow: none;
        }

        .btn:hover{
            color: #0D28A6;
            background-color: #AEB7E1;
            border-color: #0D28A6;
            box-shadow: #AEB7E1;
            
        }
    }

    

    
   
}
.car-collection{
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    .card{
        width: fit-content;
        height: fit-content;
        margin-top: 24px;
        margin-left: 24px;
        padding: 24px;
        .card-body{
            .btn{
                width: 48%;
                margin-top: 24px;
            }

            p{
                margin: 2%;
            }
        }
    }

    .modal-dialog{
        display: block;
        justify-content: center;
        top: 17vh;
        height: 387px;
        width:  333px;
        .modal-content{

            .modal-body{
                img{
                    width: 153px;
                    height: 121px;
                }
            }
            .modal-footer{
                    .ya{
                        width: 87px;
                        background-color: #0D28A6;
                        color: white;
                        border-color: #0D28A6;
                    }
                    .no{
                        width: 87px;
                        background-color: transparent;
                        color: #0D28A6;
                        border-color: #0D28A6;
                    }
            }
        }
    }
    
    
}

