<div class="content">
    <div class="path pl-2 pt-2">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="/cars">Cars</a></li>
            <li class="breadcrumb-item" aria-current="/cars/listcars">List Cars</li>
            <li class="breadcrumb-item" aria-current="/cars/listcars/addcar">Add Car</li>
        </ol>
    </div>
    <div class="title-content pl-4 pb-2 d-flex">
        <h5 class="font-weight-bold">Add Cars</h5>
    </div>
</div>
<div class="addcar-form">
    <form>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Nama</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail3">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Harga</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword3">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Foto</label>
          <div class="col-sm-10">
            <input type="file" class="form-control" id="inputPassword3">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Start Rent</label>
          <div class="col-sm-10">
            -
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Finsih Rent</label>
          <div class="col-sm-10">
            -
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Created at</label>
          <div class="col-sm-10">
            -
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Upload at</label>
          <div class="col-sm-10">
            -
          </div>
        </div>
    </form>

    <a href="/cars" class="btn btn-outline-primary btn-cancel">Cancel</a>
    <a href="" class="btn btn-outline-primary btn-save">save</a>
</div>

