<div class="content">
    <div class="path pl-2 pt-2">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="#">Cars</a></li>
            <li class="breadcrumb-item active" aria-current="page">List Cars</li>
        </ol>
    </div>
    <div class="title-content pl-4 pb-2 d-flex">
        <h5>Cars</h5>
        <a class="btn btn-primary" href="/cars/addcar">+ Add New Car</a>
    </div>
    <div class="car-category">
        <button type="button" class="btn btn-outline-primary mr-3">All</button>
        <button type="button" class="btn btn-outline-primary mr-3">Small</button>
        <button type="button" class="btn btn-outline-primary mr-3">Medium</button>
        <button type="button" class="btn btn-outline-primary mr-3">Large</button>
    </div>
    
</div>
<div class="car-collection">
    <div class="card shadow-sm" >
        <img src="/media/Group 16.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">Nama / Tipe Mobil</p>
          <h5 class="card-title">Rp. 430.000 / Hari</h5>
          <p class="card-text">Start rent - Finish rent</p>
          <p class="card-text">Updated at 4 Apr 2022, 09.00</p>
          <a href="#" class="btn btn-outline-danger"><i class='bx bx-trash-alt pr-2'></i>Delete</a>
          <a href="#" class="btn btn-success"><i class='bx bx-edit pr-2'></i>Edit</a>
        </div>
    </div>
    <div class="card shadow-sm" >
        <img src="/media/Group 16.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">Nama / Tipe Mobil</p>
          <h5 class="card-title">Rp. 430.000 / Hari</h5>
          <p class="card-text">Start rent - Finish rent</p>
          <p class="card-text">Updated at 4 Apr 2022, 09.00</p>
          <a href="#" class="btn btn-outline-danger"><i class='bx bx-trash-alt pr-2'></i>Delete</a>
          <a href="#" class="btn btn-success"><i class='bx bx-edit pr-2'></i>Edit</a>
        </div>
    </div>
    <div class="card shadow-sm" >
        <img src="/media/Group 16.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">Nama / Tipe Mobil</p>
          <h5 class="card-title">Rp. 430.000 / Hari</h5>
          <p class="card-text">Start rent - Finish rent</p>
          <p class="card-text">Updated at 4 Apr 2022, 09.00</p>
          <a href="#" class="btn btn-outline-danger"><i class='bx bx-trash-alt pr-2'></i>Delete</a>
          <a href="#" class="btn btn-success"><i class='bx bx-edit pr-2'></i>Edit</a>
        </div>
    </div>
    <div class="card shadow-sm" >
        <img src="/media/Group 16.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">Nama / Tipe Mobil</p>
          <h5 class="card-title">Rp. 430.000 / Hari</h5>
          <p class="card-text">Start rent - Finish rent</p>
          <p class="card-text">Updated at 4 Apr 2022, 09.00</p>
          <a href="#" class="btn btn-outline-danger"><i class='bx bx-trash-alt pr-2'></i>Delete</a>
          <a href="#" class="btn btn-success"><i class='bx bx-edit pr-2'></i>Edit</a>
        </div>
    </div>
    <div class="card shadow-sm" >
        <img src="/media/Group 16.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">Nama / Tipe Mobil</p>
          <h5 class="card-title">Rp. 430.000 / Hari</h5>
          <p class="card-text">Start rent - Finish rent</p>
          <p class="card-text">Updated at 4 Apr 2022, 09.00</p>
          <a href="#" class="btn btn-outline-danger"><i class='bx bx-trash-alt pr-2'></i>Delete</a>
          <a href="#" class="btn btn-success"><i class='bx bx-edit pr-2'></i>Edit</a>
        </div>
    </div>
    <div class="card shadow-sm" >
        <img src="/media/Group 16.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">Nama / Tipe Mobil</p>
          <h5 class="card-title">Rp. 430.000 / Hari</h5>
          <p class="card-text">Start rent - Finish rent</p>
          <p class="card-text">Updated at 4 Apr 2022, 09.00</p>
          <a href="#" class="btn btn-outline-danger"><i class='bx bx-trash-alt pr-2'></i>Delete</a>
          <a href="#" class="btn btn-success"><i class='bx bx-edit pr-2'></i>Edit</a>
        </div>
    </div>
    <div class="card shadow-sm" >
        <img src="/media/Group 16.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">Nama / Tipe Mobil</p>
          <h5 class="card-title">Rp. 430.000 / Hari</h5>
          <p class="card-text">Start rent - Finish rent</p>
          <p class="card-text">Updated at 4 Apr 2022, 09.00</p>
          <a href="#" class="btn btn-outline-danger"><i class='bx bx-trash-alt pr-2'></i>Delete</a>
          <a href="#" class="btn btn-success"><i class='bx bx-edit pr-2'></i>Edit</a>
        </div>
    </div>
    <div class="card shadow-sm" >
        <img src="/media/Group 16.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">Nama / Tipe Mobil</p>
          <h5 class="card-title">Rp. 430.000 / Hari</h5>
          <p class="card-text">Start rent - Finish rent</p>
          <p class="card-text">Updated at 4 Apr 2022, 09.00</p>
          <a href="#" class="btn btn-outline-danger"><i class='bx bx-trash-alt pr-2'></i>Delete</a>
          <a href="#" class="btn btn-success"><i class='bx bx-edit pr-2'></i>Edit</a>
        </div>
    </div>
    <div class="card shadow-sm" >
        <img src="/media/Group 16.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title">Nama / Tipe Mobil</p>
          <h5 class="card-title">Rp. 430.000 / Hari</h5>
          <p class="card-text">Start rent - Finish rent</p>
          <p class="card-text">Updated at 4 Apr 2022, 09.00</p>
          <a href="#" class="btn btn-outline-danger"><i class='bx bx-trash-alt pr-2'></i>Delete</a>
          <a href="#" class="btn btn-success"><i class='bx bx-edit pr-2'></i>Edit</a>
        </div>
    </div>
</div>